#total {
  text-align: center;
}

#muestra {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  width: 500px;
}

th,
tr,
td {
  width: 100px;
  text-align: center;
}

form {
  padding-top: 30px;
  text-align: center;
}
