@media all{
    
        body{
            text-align: left;
        }
    
    p{
        font-weight: bold;
        font-size: 20px;
        color: red;
        
    }
    
}
@media screen {
     
        body{
           text-align: center;
        }


        p{
            color: chartreuse;
    
        }
    
    }




