header{
text-align: center;
font-style: red;


}



div label{
    

    
    display: inline-block;
    width: 200px;
    margin-left: 30%;
    margin-right: 10%;
    margin-bottom: 15px;
}


.bien{

border-color: #25b120;


}

.error{



border-color: rgb(219, 9, 9);

}